@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "LexendDeca";
  src: url('./fonts/LexendDeca.ttf');
}

html,
body {
  height: 100dvh;
  width: 100dvw;
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: "LexendDeca", sans-serif;
}

.background-cover {
  background-image: radial-gradient(circle, transparent, rgba(24, 22, 21, 0.4) 100%);
  background-repeat: no-repeat;
  background-position: center;
}

.social {
  box-shadow: 0 0 4px rgba(129, 129, 127, 0.11);
}

.glass-morphism {
  background: linear-gradient(to right, rgba(255, 255, 255, 0.08), rgba(255, 255, 255, 0.12));
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.glass-morphism-strong {
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px);
  border: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow:
    inset 0 1px 2px rgba(255, 255, 255, 0.15),
    0 12px 40px rgba(0, 0, 0, 0.4);
}


.timeline-slider {
  -webkit-appearance: none;
  height: 4px;
}

.timeline-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 100%;
  width: 8px;
  height: 8px;
  background: #04AA6D;
  cursor: pointer;
}

.timeline-slider::-moz-range-thumb {
  width: 25px;
  height: 2px;
  background: #04AA6D;
  border-radius: 8px;
  cursor: pointer;
}

.sound-slider input[type='range'] {
  overflow: hidden;
  width: 80px;
  -webkit-appearance: none;
  background-color: rgba(119, 121, 124, 0.329);
  border-radius: 8px;
}

.sound-slider input[type='range']::-webkit-slider-runnable-track {
  height: 10px;
  -webkit-appearance: none;
  color: #ffffff;
  margin-top: -1px;
}

.sound-slider input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  cursor: pointer;
  border-radius: 100%;
  background: #434343;
  box-shadow: -80px 0 0 80px #ffffff;
}